[Unit]
Description=Daily unbound blacklist updater
Requires=unbound-blacklist-updater.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=1w
Persistent=true

[Install]
WantedBy=timers.target
