[Unit]
Description=Daily unbound blacklist updater
Requires=unbound-blacklist-updater.service

[Timer]
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
